<section class="apropos container">
  <h1 class="text-center mt-5">À Propos</h1>
  <div class="text mt-5"></div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
    consequuntur eius numquam animi blanditiis ullam! Rem fugit esse veniam quo
    autem nisi laudantium repellendus inventore commodi aliquid modi, eligendi
    itaque aliquam ea, aut nam corrupti facere et beatae voluptatum atque
    aspernatur. Tempora praesentium nulla, dolor iure ea pariatur aspernatur
    vel?
  </p>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
    dignissimos animi, numquam magnam, odio inventore voluptate asperiores
    possimus sunt quis quae? Enim, voluptates nulla eius nemo asperiores,
    laboriosam illo tempore vel pariatur quidem, possimus eligendi explicabo
    labore qui commodi nam. Ducimus voluptate doloremque adipisci recusandae.
    Culpa qui ab explicabo deleniti, accusantium aut corporis quam repellendus.
    Temporibus magni quasi perferendis totam minima fugiat deleniti, voluptas
    eligendi nesciunt animi at ex quae, voluptates repellat aspernatur impedit?
    Voluptatum ipsa nihil incidunt voluptas deleniti.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque inventore
    quisquam eum consectetur id repudiandae deleniti earum repellat, facere
    magnam eveniet ab consequuntur ad perferendis rem labore est eaque velit
    voluptatum illo debitis sed? Aliquid repudiandae adipisci temporibus cumque
    repellendus obcaecati accusamus pariatur vero! Doloribus maiores ullam
    quidem aut commodi iusto quas beatae at odit libero asperiores quam neque
    amet veniam voluptatibus autem, voluptatem dignissimos! Iure maxime est sint
    eos similique quo, rerum deserunt quos, debitis exercitationem eius
    praesentium. Facere quidem provident recusandae enim, doloremque libero
    cumque velit distinctio tempore omnis, quis, consectetur necessitatibus fuga
    saepe nulla quisquam. Ratione, mollitia!
  </p>

  <div class="follow text-center my-5">
    <h4 class="mb-5">Suivez-nous</h4>
    <a href="#">Facebook</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
  </div>
</section>
